{% extends "shared/layout.j2" %} 
{% block title %}Emergency Block Status{% endblock %} 
{% block main_content %}
<h1>Emergency Block Status</h1>
<ul>
{% for css in content %}
<li>{{css.name}} - {{css.pstn_blocked}}</li>
{% endfor %}
</ul>
{% endblock %}
